<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<connectionStrings>
		<add name="DatabaseEntities" connectionString="metadata=res://*/db.dbModel.csdl|res://*/db.dbModel.ssdl|res://*/db.dbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql3.unoeuro.com;initial catalog=tye_dk_db;persist security info=True;user id=tye_dk;password=a3z4chdg;multipleactiveresultsets=True;App=EntityFramework&quot;"
		  providerName="System.Data.EntityClient" />
	</connectionStrings>


</configuration>
