<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="metadata=res://*/db.dbModel.csdl|res://*/db.dbModel.ssdl|res://*/db.dbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test-pc\sqlexpress2014;initial catalog=tye_dk_test;persist security info=True;user id=tye;password=tyepassword;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
