.tabContainer { }
.tabContainer ul { margin: 0; padding:0; }
.tabContainer ul li  { /* tabs */
							border:1px solid #dddddd;
							background-color: #dddddd;
							padding: 10px 20px;
							margin-right:10px;
							float:left; /* for IE9 */
							display:inline-block;
                     cursor: pointer;
                     position:relative;
                     border-top-left-radius: 10px;
                     border-top-right-radius: 10px;
                     background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eff0f4));
							background: -moz-linear-gradient(top,  #fafafa,  #eff0f4);
                     }
.tabContainer ul li:hover, .tabContainer ul li.active {
	background-color: #ffffff; 
	border-bottom: 1px solid #ffffff; 
	background: -webkit-gradient(linear, left top, left bottom, from(#eff0f4), to(#fafafa));
							background: -moz-linear-gradient(top,  #eff0f4,  #fafafa);
	}
.tabContainer .innerTabs { position:relative; top:0px; z-index: 21; border-top: 1px solid transparent; } /* for IE9 */
.tabContainer .innerContainer { border: 1px solid #dddddd;
                                 padding: 0px;
                                 position:relative;
                                 top: -1px;
                                 border-bottom-left-radius: 10px;
                                 border-bottom-right-radius: 10px;
                                 border-top-right-radius: 10px;
                                 clear:both;
                                 z-index: 20;
                              }
.tabPanel { display:none; padding:10px; overflow: hidden; }