<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<remove name="umbracoDbDSN"/>
		<add name="umbracoDbDSN" connectionString="data source=mssql2.unoeuro.com;initial catalog=biggraytrust_dk_db;persist security info=True;user id=biggraytrus_dk;password=2bdx6mrk;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
